
@media (min-width: 768px) {
    
    #menu-toggle {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        box-shadow: none;
        padding: 0;
        gap: 0.5rem;
    }


    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .wide-card {
        grid-column: 1 / -1; 
    }

    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .footer-info { text-align: left; }
    .footer-copy { text-align: right; }
}

@media (min-width: 1024px) {

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}