

:root {
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Gowun Batang', serif;
    --primary-color: #020d40; /* El marrón elegante de tu logo */
    --accent-color: #FF715B;
    --white: #ffffff;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: var(--paragraph-font);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: var(--white);
    text-align: center;
    padding: 20px 0;
}

#icc {
    max-height: 80px;
    margin: 0 auto;
    display: block;
}

.nav-links-wrapper {
    background-color: var(--primary-color);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}


main {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;
}


h1, h2, .directory-title {
    text-align: center;
    margin-bottom: 20px;
}

.directory-controls {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    margin-bottom: 40px;
}

/* Centrado del selector de categoría */
.directory-controls label, 
.directory-controls select {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.view-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-info {
    flex: 1;
    text-align: left;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: center; 
    gap: 15px;
}

.social-icons img {
    width: 30px;
    filter: brightness(0) invert(1); 
}

.footer-copy {
    flex: 1;
    text-align: right;
}


#directory-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #FF715B;
    border-bottom: 3px solid #FF715B;/
    padding-bottom: 5px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FF715B;
    transition: 0.3s;
}
#icc {
   
    max-height: 300px; 
    width: auto; 

    display: block;
    margin: 0 auto 15px auto; 
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.1));
}