
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff; 
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header centrado */
header {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

header h1 {
    color: #5d67a9; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.menu-container, #dynamic-prophets {
    margin: 10px auto;
    text-align: center;
}


#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
}


section {
    background-color: #d1d5e8; 
    border: 1px solid #bbb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

section h2 {
    color: #4a528a;
    margin-bottom: 8px;
}

section p {
    font-size: 0.9rem;
    color: #333;
}

section img {
    margin-top: 15px;
    border: 1px solid #222;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.5); 
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #5d67a9;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}


@media screen and (max-width: 600px) {
    #cards {
        grid-template-columns: 1fr;
    }
}